# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
build/
dist/

# Virtual envs
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp

# Pytest
.pytest_cache/
.cache/
htmlcov/
.coverage
report.html
assets/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

